html {background-color: #d9de9f;}

h1 {
    background-color: brown;
    color:aliceblue;
    margin: 8px;
    font-family: -apple-system;
    font-size: 40px;
    width: 100%;
    height: 100%;
}


a[href*="https://www.youtube.com/channel/UC0_95MpNlRz9x7JmsXBClZA"] {
    background-color: rgba(135, 206, 250, 0.556);
}

a[href*="https://es.wikipedia.org/wiki/Eladio_Carri%C3%B3n"] {
    background-color: rgba(135, 206, 250, 0.556);
}

.referencias {
    text-align: center;

}


.resaltado {
    background-color: yellow;
    color: black;
    font-size: 20px;
    box-shadow: 1px 1px 5px 2px #9306ba; 
}


main {
    max-width: 800px;
    margin: 0 auto;
}


body {
    font-family: Arial;
    text-align: center;
}

nav {
    margin-top: 10px;
}

.referencias {
    margin: 10px;
}

header {
    background-color: rgb(65, 221, 210);
    padding: 10px;
    width: 100%;
}

footer {
    background-color: rgb(65, 221, 210);
    padding: 10px;
    width: 100%;
}


.imagenes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.imagenes img {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
}
